/*
Title:     Blue WP Theme styles for print media
Author:    retromachine@gmail.com
Updated:   May 29 2007
*/

body {
	margin: .6in;
	font-family: Verdana, sans-serif;
	font-size: 12pt;
	}

h1, h2, h3, h4 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	}
.post h3 {
	color: gray;
	font-size: 150%;
	font-weight: normal;
	margin-bottom: 1.5em;
	}

#header, #nav, .sidebar, hr {
	display: none;
	}
	
a:link, a:visited {
	color: gray;
	}	

/* print URLs after link text */
.entry p a:link:after, .entry p a:visited:after {
	content: " (" attr(href) ") ";
	}